/* body { margin:0; 
padding:0; 
} */

#wrapper {
  background-color: #b3b3b3;
  border: 3px solid #fe4b03;
  height: 550px;
  width: 80%;
  margin-top: 20px;
  margin-left: 10%;
  
}

.DeckGL { 
  position:relative; 
  width:100%;
  bottom: 0;
  height: 60%;
}

#kessel_data {
  background-color: #f2f2f2;
  color: #333333;
  position: relative;
  height: 40%;
  
}